<p>
  <strong>Pre_QA:</strong>
  <%= eod.Pre_QA %>
</p>
 
<p>
  <strong>Date:</strong>
  <%= eod.Date %>
</p>


<td><%= link_to 'Edit', edit_user_eod_path(eod.user, eod) %></td>
<td><%= link_to 'Show', user_eod_path(eod.user, eod) %></td>